*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(24,26,27,255);
}
.clearfix{
    clear: both;
}
body{
    width: 70%;
    margin: auto;
}
header{
    height: 120px;
    line-height: 120px;
    text-align: center;
}
.botones{
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    clear: left;
    margin-bottom: 16px;
}
#botonera{
    margin-left: 48%;
}


button{
    background-color: rgba(107,107,107,255);
    color: white;
}
h1{
    color: white;
}
